* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
   min-height: 100vh;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  width: 100%;
  max-width: 850px;
  margin: 0px auto 5px auto;
  line-height: 30px;
  
  
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #004d26;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  min-width: 100px;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  border: 0.5px solid #08451C;
  
}

input:focus {
  border-color: #004d26;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 77, 38, 0.3);
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #004d26;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #006633;
}



h3{
  color: #004d26;
  border-left: 4px solid #004d26;
  padding-left: 8px;
  margin-bottom: 10px;
}
.dados1, .end1, .dados2, .cilindro1,.dados3,.end3,.selectam,.valv,.inifim{
  display: grid;
  grid-template-columns: auto 1fr auto 1fr; 
  gap: 15px 15px; 
  align-items: center;
  
}
.end2{
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr; 
  gap: 15px 15px; 
  align-items: center;
}

.ops{
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr auto 1fr; 
  gap: 15px 15px; 
  align-items: center;
}

.loc,.transformadorenergia,.suportecilindro,.valvularegul{
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 15px 15px; 
  align-items: center;
}



.contato{
  display: grid;
  grid-template-columns: 80px 300px;
  gap: 15px 15px; 
}



form > h3 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.dados1, .dados2, .end1, .end2{
  margin-bottom: 3px;
}


#concentrador{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 0.5px solid #08451C;
  padding: 10px 40px 12px 15px;
  font-size: 15px;
  border-radius: 6px;
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  cursor: pointer;
  margin-top: 5px;
  width: 220px;
  
}
#tamanho{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 0.5px solid #08451C;
  padding: 10px 50px 10px 15px;
  font-size: 15px;
  border-radius: 6px;
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  cursor: pointer;
  margin-top: 5px;
  
}

.radio-group {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
  align-items: baseline;
 
}

.radio-group input[type="radio"] {
  accent-color: #004d26; 
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.erro {
  border: 2px solid red !important;
  background-color: #ffe6e6;
}



#energia{
   white-space: nowrap;
}

#gas{
  color: black;
  font-size: 15px;
 
}

label[for='aplic']{
  margin-left: 10px;
  white-space: nowrap;
}
label[for='prop']{
  margin-left: 60px;
  white-space: nowrap;
}


#form-urbano,#form-rural{
  display: none;
}


.posloc {
  display: none; 
}

.perloc,.intloc{
  display: none;
  width: 150px;
}

label[for='periloc']{
  margin-top: 2.5px;
   align-items: baseline; 
}
.per {
  white-space: nowrap;
  align-items: baseline;
  
}

.peri{
  white-space: nowrap;
   align-items: baseline; 
}

.remover-cilindro {
  position: absolute;
  right: 0px;  
  top: 14px;    
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 1;
  
}

#lixo {
  width: 23px;
  height: 27px;
  transition: transform 0.2s;
}

#lixo:hover {
  transform: scale(1.1);
}

.grupo-cilindro {
  position: relative; 
  padding-top: 15px;  
}
.remover-cilindro:hover {
  background-color: white;
  color: white;
  transform: scale(1.1);
}
#template-cilindro{
  display: none;
  margin-top: 30px;
}

.inifim {
  grid-template-columns: auto 1fr auto 1fr;
  gap: 5px 10px;
  align-items: center;
  margin-top: 10px;
 
}

.inifim label {
  min-width: auto;
  white-space: nowrap;
  margin-top: 0;
  margin-top: 5px;
}

.inifim input {
  width: 100%;
  margin-top: 0;
  margin-top: 1px;
 
}
#simloc {
  width: 150px;
  max-width: 200px;
  height: 38px;
  padding: 8px;
  margin-top: 10px; 
  border: 1px solid #08451C;
  border-radius: 6px;
  max-width: 150px;
  margin-left: 8px;
}
hr{
  margin: 20px 0;
}
.fini {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  align-items: baseline; 
  margin-top: 8px;
}

.fini label {
  min-width: 150px; 
  white-space: nowrap;
  margin: 0;
}

.fini input[type="date"] {
  width: 100%;
  max-width: 200px; 
  margin: 0;
  padding: 8px;
}
.intolc{
  margin-top: 15px;
}

.detint{
  margin-left: 15px;
}

label[for='int']{
  margin-left: 50px;
}



#gas,#tamanho{
  width: 180px;
}


label[for='periloc']{
  margin-top: 2.5px;
   align-items: baseline; 
}
.per {
  white-space: nowrap;
  align-items: baseline;
  
}

.peri{
  white-space: nowrap;
   align-items: baseline; 
}
#areas{
  margin-top: 5px;
  margin-bottom: 12px;
}

.dados1,.dados2,.dados3{
  grid-template-columns: 150px 1fr 180px 1fr;
  align-items: center;
}
 

#iniaplicado{
  display: none;
}

.acessorios{
  margin-top: 10px;
}


.suportes, .valvulas, .transformadores {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}


.valvprop, .transcioxprop {
  grid-column: 3;
  display: none;
  margin-top: 5px;
 
}

/* Mostrar sub-opções quando selecionado */
input[type="radio"][value="valsim"]:checked ~ .valvprop,
input[type="radio"][value="transsim"]:checked ~ .transcioxprop {
  display: block;
}

label[for='transformador']{
  white-space: nowrap;
}
.ops{
  grid-template-columns: auto 120px auto 100px 50px 50px;
  grid: 6;
}

#preco{
  margin-left: 9px;
}
label[for='preco']{
 white-space: nowrap;
}
#gas{
  margin-left: 9px;
}

#aplicacao{
  width: 130px;
}
.end1{
  grid-column: 2;
  grid-template-columns: auto 400px auto 135px;
}